{% load static %}
{% include "turbo/head.html" %}
{% load turbo_streams %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'clean_blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'clean_blog/css/clean-blog.min.css' %}" rel="stylesheet">
    <link href="{% static 'clean_blog/css/custom.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'clean_blog/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    {% include "turbo/head.html" %}
    {% turbo_subscribe 'TheBlogsApp:AppStream' %}
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" onclick="getElementById('bs-example-navbar-collapse-1').classList.toggle('collapse')">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if is_signed_in %}
                        <a href="/logout" target="_top">{{ username }}<br/>Log Out</a>
                        {% else %}
                        <a href="/login" target="_top">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'clean_blog/img/home-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>The Blogs</h1>
                        <hr class="small">
                        <span class="subheading">Some blogs</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->

    <!--<div class="post-preview">-->
    <div style="padding:0.5em">
        <div class="container">
            <div class="row">
                <h2 class="post-title">
                    {% if is_user_author %}
                    <form action="/delete-blog-post" method="POST">
                        {% csrf_token %}
                        {{ delete_post_form }}
                        <i data-feather="trash-2" style="stroke:red; cursor:pointer" onclick="parentNode.submit();"></i>
                        {{ blog.title }}
                    </form>
                    {% else %}                        
                    {{ blog.title }}
                    {% endif %}
                </h2>
            </div>
            <div class="row">
                <p class="post-meta">
                    Posted by {{ blog.author }} on {{ blog.creation_date }}
                </p>
            </div>
            <div class="row">
                <p class="post-meta">
                    {{ blog.text }}
                </p>
            </div>
        </div>
    </div>
    <hr>

    <turbo-frame id=commentsframe src="/blog/{{ blog.id }}/comments"></turbo-frame>

    {% if is_signed_in %}
    <div style="padding:0.5em">
        <form method="POST">
            {% csrf_token %}
            {{ comment_form.as_table }}
            <input type="submit" value="Submit" />
        </form>
    </div>
    {% endif %}


    <!-- jQuery -->
    <script src="{% static 'clean_blog/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'clean_blog/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'clean_blog/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'clean_blog/js/contact_me.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'clean_blog/js/clean-blog.min.js' %}"></script>

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        document.addEventListener("turbo:frame-render", function (e) {
            feather.replace();
        });
        document.addEventListener("turbo:submit-end", function (e) {
            feather.replace();
        });
    </script>

</body>

</html>
