<turbo-frame id="postsframe">
    {% for b in blogs %}
    <div class="post-preview">
        <h2 class="post-title">
            {{ b.title }}
        </h2>
        <p class="post-meta">Posted by {{ b.author }} on {{ b.creation_date }}</p>
        {{ b.text }}
    </div>
    <hr>
    {% endfor %}
    <ul class="pager">
        {% if are_newer_pages %}
        <li class="previous">
            <a href="/filtered-blogs?page={{ page|add:"-1" }}">&larr; Newer Posts</a>
        </li>
        {% endif %}
        {% if are_older_pages %}
        <li class="next">
            <a href="/filtered-blogs?page={{ page|add:1 }}">Older Posts &rarr;</a>
        </li>
        {% endif %}
    </ul>
</turbo-frame>
