{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>

    <meta name="msapplication-TileColor" content="#6371C5" />
    <meta name="theme-color" content="#6371C5" />

    <link rel="stylesheet" href="{% static 'login/additional.css' %}" />
    <link rel="stylesheet" href="{% static 'login/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'login/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <a href="/">
        <i data-feather="home" style="stroke:black"></i>
    </a>
    <div class="content-body">
      <div class="form-wrapper">
        <form class="bg-white" method="POST">
          {% csrf_token %}
          {% for field in user_form %}
          <div class="field-group">
            {{ field.label_tag }}
            {{ field }}
          </div>
          {% endfor %}
          
          {% if user_form.non_field_errors %}
          {% for err in user_form.non_field_errors %}
            <p class="form-error">{{ err }}</p>
          {% endfor %}
          {% endif %}
          
          <div class="field-group">
            <input class="btn-submit" type="submit" value="Log In" />
          </div>
        </form>

        <div class="bg-grey">
          <a href="/signup" class="link-register">Sign Up</a>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace();
    </script>
  </body>
</html>