{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="follow,index" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopify by Meg Login Template | Login Page CSS</title>

    <meta name="msapplication-TileColor" content="#6371C5" />
    <meta name="theme-color" content="#6371C5" />

    <link rel="stylesheet" href="{% static 'login/additional.css' %}" />
    <link rel="stylesheet" href="{% static 'login/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'login/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="content-body">
      <div>
        <form class="bg-white" method="POST">
          {% csrf_token %}
          {% for field in post_form %}
          <div class="field-group">
            {{ field.label_tag }}
            {{ field }}
          </div>
          {% endfor %}

          <div class="field-group">
            <input class="btn-submit" type="submit" value="Post" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>